.test{
	/*background-color: #424242;*/
	/*color: white;*/
}

.navbar{
	border-radius: 0 !important;
}


body{
	font-family: 'Ubuntu', sans-serif;
}

#signup{
	border-radius: 0;
	background-color: transparent;
	color: white;
	border:white 2px solid;
}

#banner{

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #757575;
	height:65vh;
	margin-top: -20px; 
	/*padding-top: 10px;*/
	/*padding-bottom: 0px;*/
	background-size: 100%; 

}

a:link {
    text-decoration: none;
    color: #28a4c9;
    /*color: #2e6da4;*/
}

a:visited {
    text-decoration: none;
    color: #28a4c9;
}

a:hover {
    text-decoration: none;
    color: #28a4c9;
}

a:active {
    text-decoration: none;
    color: #28a4c9 !important;
}

.nav_tab_white{

	color: white;
}

.nav_tab_change{
	color: black;
}

.allApps_icon{
	border-radius: 20px;
	height: 70px;
}

.history_icon{
	border-radius: 20px;
}

.allApps_name{
	margin-left: 20px;
}

.allApps_category{
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	border-radius: 30px;
	/*background-color: black;*/
	/*color: white;*/
}


.white {
	color: #FFFFFF;
}

#starScore{
	margin-left: 20px;
	/*color: black;*/
	font-size: 25px;
}

.index_appdiv{
	/*background-color:;*/
	border-radius: 20px;
	filter:alpha(opacity=50);
	opacity:0.9;
	position: relative;
	height: 80px;
	font-size: 15px;
	
}

.index_appname{
	line-height: 80px;
	margin-left: 75px;
	white-space: nowrap;

}

.index_icon{
	border-radius: 20px;
	position:absolute;left:0;
}

.ranktitle {
	/*background-color: #424242;*/
	border-radius: 40px;
	margin: 10px !important;
	/*color: #FFFFFF;*/
	height: 100px;
	line-height: 100px;
	font-size: 80px;
	/*filter:alpha(opacity=50);*/
	/*opacity:0.8;*/
	/*font-family: 'Lobster', cursive;*/
}
.ranktab {
	/*background-color: #F5F5F5;*/
	border-radius: 40px;
	margin: 10px !important;
	/*color: #FFFFFF;*/
	/*filter:alpha(opacity=50);*/
	/*opacity:0.8*/
}
.ranklist {
	/*background-color: #424242;*/
	height: 80px;
	border-radius: 40px;
	margin: 10px !important;
	padding-left: 20px !important;
	/*color: #FFFFFF;*/
	line-height: 80px;
	font-size: 30pt;
	margin-bottom: 50px !important;
	/*filter:alpha(opacity=50);*/
	/*opacity:0.8*/
}
.rankimgdiv{
	height: 80px;
	width: 80px;
	margin-left: 10px !important;
}
.rankimg{
	border-radius: 25px
}

#starScore{
	color: #B0BEC5;
	white-space: nowrap;
}


.btn:focus,.btn:active,button:focus,button:active {
   outline: none !important;
}

a:focus,a:active{
	outline: none !important;
}

#footersetting{
	height: 25px;
	background-color: #2c2c2c;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	filter:alpha(opacity=50);
	opacity:0.5
}
