<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}My rating history{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div style="font-size: 40pt" align="center">My rating history</div>
            </div>
        </div>
        <hr/>

        {% for comment in history_list %}
            <div class="col-xs-8 col-xs-offset-2" style="height: 100px;">
                <div class="col-xs-2">
                    <a href="/apprating/app/{{ comment.app.appid }}">
                        <img class="history_icon" src="{% static '' %}{{ comment.app.iconpath }}" height="100px">
                    </a>
                </div>


                <div class="col-xs-10">
                    <h4>{{ comment.app.appname }}</h4>
                    <p>Score: <span style="color: gold" id="{{ forloop.counter }}">{{ comment.score }}</span></p>
                    <p>Content: <span>{{ comment.content }}</span></p>
                </div>
            </div>
            <div class="row col-xs-8 col-xs-offset-2">
                <hr/>
            </div>
        {% endfor %}


    </div>

    <script>

        $(document).ready(function () {

            {% for comment in history_list %}

                var star_0 = $("<i></i>", {"class": "fa fa-star"});
                var star_1 = $("<i></i>", {"class": "fa fa-star"});
                var star_2 = $("<i></i>", {"class": "fa fa-star"});
                var star_3 = $("<i></i>", {"class": "fa fa-star"});
                var star_4 = $("<i></i>", {"class": "fa fa-star"});

                var commentScore = parseInt($("#{{forloop.counter}}").text());

                if (commentScore == 1) {
                    $("#{{forloop.counter}}").empty().append(star_0);
                }
                else if (commentScore == 2) {
                    $("#{{forloop.counter}}").empty().append(star_0, star_1);
                }
                else if (commentScore == 3) {
                    $("#{{forloop.counter}}").empty().append(star_0, star_1, star_2);
                }
                else if (commentScore == 4) {
                    $("#{{forloop.counter}}").empty().append(star_0, star_1, star_2, star_3);
                }
                else {
                    $("#{{forloop.counter}}").empty().append(star_0, star_1, star_2, star_3, star_4);
                }

            {% endfor %}
        });


        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                $(this).addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });

        $(document).ready(function () {
            $(".history_icon").mouseover(function () {
                $(this).animateCss('pulse')
            })
        });
    </script>

{% endblock %}

</body>
</html>