<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <title>App Rating</title>
</head>

<body>


{% block title %}App Rating{% endblock %}
{% block content %}
    <!--jumbotron-->
    <div id="banner" class="jumbotron col-xs-12" style="background-image: url('{% static "images/banner.png" %}');">
        <div class="col-xs-12" style="margin-top: 20px;">

            <div align="center" style="color: white;">
                <span style="font-size: 35pt;"><b>LOVE THEM, HATE THEM, RATE THEM.</b></span>
            </div>

            <div align="center" class="row" style="margin-top: 40px;">
                <img src="{% static "images/logo_phone.png" %}" height="45">
            </div>


            <div align="center" class="col-xs-2 col-xs-push-5" style="margin-top: 50px;">
                <button type="button" id="signup" class="btn-lg" style="" data-toggle="modal"
                        data-target="#register"> Sign Up Now
                </button>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <!-- popular apps-->
        <div class="row col-xs-12">

            <div class="col-xs-12 col-xs-offset-0 " style="height: 245px">
                <div class="row col-xs-10 col-xs-offset-1" style="margin-top:10px;">
                <h1>The popular</h1>
                <hr/>
                <br/>

                    {% for app in top8 %}

                        <div class="col-md-3 col-xs-6 index_appdiv" style="margin-bottom: 50px;">
                            <a href="/apprating/app/{{ app.appid }}">
                                <img class="index_icon"
                                     src="{% static "" %}{{ app.iconpath }}"
                                     height="80">

                                <div class="index_appname" style="font-size: 10.5pt;"><b>{{ app.appname }}</b></div>
                            </a>
                        </div>

                    {% endfor %}
                </div>
            </div>


        </div>
    </div>

    <script>

        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                $(this).addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });

        $(document).ready(function () {
            $(".index_appdiv").mouseover(function () {
                $(this).animateCss('pulse')
            })
        });

        $(document).ready(function () {
            $("#signup").mouseover(function () {
                $(this).css("background-color","white");
                $(this).css("color","black");
            });
            $("#signup").mouseout(function () {
                $(this).css("background-color","transparent");
                $(this).css("color","white");
            });
        });

    </script>

{% endblock %}

</body>

</html>
