<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Rank List{% endblock %}
{% block background %}
    {#    style="#}
    {#    background-image: url('{% static "images/bg_2.jpg" %}');#}
    {#    background-repeat:no-repeat; background-attachment:fixed;#}
    {#    background-size:100%;"#}
{% endblock %}

{% block content %}



    <div class="container">
        <div class="row">
            <div align="center" class="col-xs-12">
                <span style="font-size: 40pt">Top 5 Apps</span>
                <hr/>
            </div>
        </div>


        <div class="row col-xs-12">
            <div style="position: fixed" class="col-xs-2 col-xs-push-1 ranktab">
                <div align="center" class="col-xs-12 col-xs-push-0">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" id="cat_all" class="active"><a id="catAll" style="cursor: pointer"><b>All</b></a>
                        </li>
                        <hr/>
                        <li role="presentation" id="cat_1" class=""><a id="cat1"
                                                                       style="cursor: pointer"><b>{{ category_list.0 }}</b></a>
                        </li>
                        <hr/>
                        <li role="presentation" id="cat_2" class=""><a id="cat2"
                                                                       style="cursor: pointer"><b>{{ category_list.1 }}</b></a>
                        </li>
                        <hr/>
                        <li role="presentation" id="cat_3" class=""><a id="cat3"
                                                                       style="cursor: pointer"><b>{{ category_list.2 }}</b></a>
                        </li>
                        <hr/>
                    </ul>
                </div>
            </div>

            <!-- all list-->
            <div class="col-xs-9 col-xs-push-3" id="cat_div_all" style="white-space: nowrap">
                {% for app in all_list %}
                    <a href="/apprating/app/{{ app.appid }}">
                        <div class="ranklist d1 list_appdiv">
                            <div class="col-xs-1">{{ forloop.counter }}.</div>
                            <div class="col-xs-2 col-xs-offset-0">
                                <div class="rankimgdiv">
                                    <img class="img-responsive rankimg"
                                         src="{% static "" %}{{ app.iconpath }}">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-1">
                                {{ app.appname }}
                            </div>
                            <div class="col-xs-1  col-xs-push-1">
                                <span id="all{{ forloop.counter }}">{{ app.averscore }}</span>
                            </div>

                        </div>

                    </a>
                    <hr/>
                {% endfor %}
            </div>

            <!-- game list-->
            <div class="col-xs-9 col-xs-push-3" id="cat_div_1" style="white-space: nowrap" hidden>
                {% for app in Games %}
                    <a href="/apprating/app/{{ app.appid }}">
                        <div class="ranklist d1 list_appdiv">
                            <div class="col-xs-1">{{ forloop.counter }}.</div>
                            <div class="col-xs-2 col-xs-offset-0">
                                <div class="rankimgdiv">

                                    <img class="img-responsive rankimg"
                                         src="{% static "" %}{{ app.iconpath }}">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-1">
                                {{ app.appname }}
                            </div>
                            <div class="col-xs-1  col-xs-push-1">
                                <span id="game{{ forloop.counter }}">{{ app.averscore }}</span>
                            </div>

                        </div>
                    </a>
                    <hr/>
                {% endfor %}
            </div>


            <!-- social list-->
            <div class="col-xs-9 col-xs-push-3" id="cat_div_2" style="white-space: nowrap" hidden>
                {% for app in Social %}
                    <a href="/apprating/app/{{ app.appid }}">
                        <div class="ranklist d1 list_appdiv">
                            <div class="col-xs-1">{{ forloop.counter }}.</div>
                            <div class="col-xs-2 col-xs-offset-0">
                                <div class="rankimgdiv">

                                    <img class="img-responsive rankimg"
                                         src="{% static "" %}{{ app.iconpath }}">

                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-1">
                                {{ app.appname }}
                            </div>
                            <div class="col-xs-1  col-xs-push-1">
                                <span id="social{{ forloop.counter }}">{{ app.averscore }}</span>
                            </div>

                        </div>
                    </a>
                    <hr/>
                {% endfor %}
            </div>

            <!-- music list-->
            <div class="col-xs-9 col-xs-push-3" id="cat_div_3" style="white-space: nowrap" hidden>
                {% for app in Music %}
                    <a href="/apprating/app/{{ app.appid }}">
                        <div class="ranklist d1 list_appdiv">
                            <div class="col-xs-1">{{ forloop.counter }}.</div>
                            <div class="col-xs-2">
                                <div class="rankimgdiv">

                                    <img class="img-responsive rankimg"
                                         src="{% static "" %}{{ app.iconpath }}">

                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-1">
                                {{ app.appname }}
                            </div>
                            <div class="col-xs-1 col-xs-push-1">
                                <span id="music{{ forloop.counter }}">{{ app.averscore }}</span>
                            </div>

                        </div>
                    </a>
                    <hr/>
                {% endfor %}
            </div>


        </div>
    </div>

    <script>

        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                $(this).addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });

        $(document).ready(function () {
            $(".list_appdiv").mouseover(function () {
                $(this).animateCss('pulse')
            })
        });

        $(document).ready(function () {
            {% for list in all_list %}
                var appScore = {{ list.averscore }};
                var rounded = appScore.toFixed(1);
                $("#all{{ forloop.counter }}").html(rounded);
            {% endfor %}
        });

        $(document).ready(function () {
            {% for list in Games %}
                var appScore = {{ list.averscore }};
                var rounded = appScore.toFixed(1);
                $("#game{{ forloop.counter }}").html(rounded);
            {% endfor %}
        });

        $(document).ready(function () {
            {% for list in Social %}
                var appScore = {{ list.averscore }};
                var rounded = appScore.toFixed(1);
                $("#social{{ forloop.counter }}").html(rounded);
            {% endfor %}
        });

        $(document).ready(function () {
            {% for list in Music %}
                var appScore = {{ list.averscore }};
                var rounded = appScore.toFixed(1);
                $("#music{{ forloop.counter }}").html(rounded);
            {% endfor %}
        });

        $(document).ready(function () {

            $("#catAll").click(function () {
                $("#cat_div_all").fadeIn(1000);
                $("#cat_div_1").hide();
                $("#cat_div_2").hide();
                $("#cat_div_3").hide();
                $("#cat_all").addClass('active');
                $("#cat_1").removeClass('active');
                $("#cat_2").removeClass('active');
                $("#cat_3").removeClass('active');

            });

            $("#cat1").click(function () {
                $("#cat_div_1").fadeIn(1000);
                $("#cat_div_all").hide();
                $("#cat_div_2").hide();
                $("#cat_div_3").hide();
                $("#cat_1").addClass('active');
                $("#cat_all").removeClass('active');
                $("#cat_2").removeClass('active');
                $("#cat_3").removeClass('active');
            });

            $("#cat2").click(function () {
                $("#cat_div_2").fadeIn(1000);
                $("#cat_div_1").hide();
                $("#cat_div_all").hide();
                $("#cat_div_3").hide();
                $("#cat_2").addClass('active');
                $("#cat_1").removeClass('active');
                $("#cat_all").removeClass('active');
                $("#cat_3").removeClass('active');
            });

            $("#cat3").click(function () {
                $("#cat_div_3").fadeIn(1000);
                $("#cat_div_1").hide();
                $("#cat_div_2").hide();
                $("#cat_div_all").hide();
                $("#cat_3").addClass('active');
                $("#cat_1").removeClass('active');
                $("#cat_2").removeClass('active');
                $("#cat_all").removeClass('active');
            });
        });

    </script>
{% endblock %}

</body>
</html>